# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
*.tsbuildinfo

# Logs
*.log

# Environment files
.env
.env.local

# IDE
.vscode
.idea

# Test outputs
coverage
test-results
playwright-report

# Firebase
.firebase
firebase-debug.log

# Other
*.md
!README.md

